
.site-heading {
  padding: 64px 0;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $white;
}

.site-heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-heading--open .site-nav__toggler {
  background-image: url("../../img/hamburger-close-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.site-heading--open .site-nav {
  display: flex;
}

.site-heading--open .site-nav__link {
  font-size: 16px;
}

.site-heading--open .site-nav__item {
  margin-bottom: 10%;
}

@include breakpoint-down (560) {
  .site-heading--open .site-nav::before {
    animation-name: slide-in;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .site-heading--open .site-nav__list {
    animation-name: slide-in;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}